@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Update from GitHub Actions AKS</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">Deploying ASP.NET Core apps to AKS</a>.</p>
</div>
